Repository ivanprytula/python-interview-prep, changes with the labels that .github/labeler.yml gives for each.
All labels: site_source, repo_root, github_specific

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  assets/js/custom.js
  show-me-the-code/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

add 1 more useful link - PYnative.com
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  lake-of-links/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

add misc links block
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  lake-of-links/index.html
Labels: none

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

update deps, add pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
  README.md
  requirements.txt
Labels: repo_root

update TagCloud lib, refactor cloud of terms, add more terms
  snake_path/files/assets/js/TagCloud.min.js
  snake_path/pages/cloud-of-terms.html
Labels: site_source

refactor gitignore as showed in Nikola handbook
  .gitignore
Labels: none

set indent_size for all yml files
  .editorconfig
Labels: repo_root

refactor Make commands
  .editorconfig
  Makefile
Labels: repo_root

rough refactoring of Markdown-based pages
  .editorconfig
  snake_path/conf.py
  snake_path/files/py_file_icon_512x512.png
  snake_path/pages/index.rst
  snake_path/pages/knowledge-base.md
  snake_path/pages/knowledge-scope.md
  snake_path/pages/lake-of-links.md
  snake_path/pages/naming-convention.md
Labels: site_source, repo_root

leave walking-snake feature in dedicated branch
  snake_path/files/assets/css/custom.css
  snake_path/files/assets/js/custom.js
  snake_path/pages/show-me-the-code.md
Labels: site_source

add search form, combine listings/code examples
  snake_path/conf.py
  snake_path/images/index/Python_logo_01.png
  snake_path/listings/bad_practices.py
  snake_path/listings/snake_walks_the_big_story.py
  snake_path/pages/index.rst
  snake_path/pages/naming-convention.md
  snake_path/pages/show-me-the-code.md
  snake_path/pages/show-me-the-code.rst
  snake_path/pages/todo.rst
Labels: site_source

add links for two new pages
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/pages/index.rst
  snake_path/pages/lake-of-links.md
  snake_path/pages/python-best-practices.md
  snake_path/pages/show-me-the-code.rst
  snake_path/pages/system-design.rst
  snake_path/pages/tools-shell-cheatsheet.md
  tools_cheatsheet.md
Labels: site_source, repo_root

Nikola auto commit.
  index.html
  lake-of-links/index.html
  python-best-practices/index.html
  show-me-the-code/index.html
  sitemap.xml
  sitemapindex.xml
  system-design/index.html
  tools-shell-cheatsheet/index.html
Labels: repo_root

rm unused images
  snake_path/images/show-me-the-code/python_small_logo.svg
  snake_path/images/show-me-the-code/snake_bw.png
Labels: site_source

Nikola auto commit.
  images/show-me-the-code/python_small_logo.svg
  images/show-me-the-code/python_small_logo.thumbnail.svg
  images/show-me-the-code/snake_bw.png
  images/show-me-the-code/snake_bw.thumbnail.png
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

.github/labeler.yml:

# Add 'site_source' label to any change to snake_path files
site_source:
- any: ['snake_path/**/*', '!src/docs/']

# Add 'repo' label to any root file changes EXCEPT for the snake_path/.github dirs
repo_root:
- any: ['*', '!snake_path/**/*', '!.github/**/*', '!.gitignore']

github_specific:
- any: ['.github/**/*', '.gitignore']
