Repository ivanprytula/python-interview-prep, changes with the labels that .github/labeler.yml gives for each.
All labels: site_source, repo_root, github_specific

.github/labeler.yml:

# Add 'site_source' label to any change to snake_path files
site_source:
- any: ['snake_path/**/*', '!src/docs/']

# Add 'repo' label to any root file changes EXCEPT for the snake_path/.github dirs
repo_root:
- any: ['*', '!snake_path/**/*', '!.github/**/*', '!.gitignore']

github_specific:
- any: ['.github/**/*', '.gitignore']

add placeholders for nav links
  snake_path/conf.py
  snake_path/pages/about.md
  snake_path/pages/hello-ssg-nikola.rst
  snake_path/pages/index.rst
  snake_path/pages/interview-prep.md
  snake_path/pages/links-lake.md
  snake_path/pages/markdown-sample.rst
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  about/index.html
  archive.html
  categories/index.html
  galleries/index.html
  galleries/rss.xml
  index.html
  interview-prep/index.html
  links-lake/index.html
  pages/hello-ssg-nikola/index.rst
  pages/markdown-sample/index.rst
  rss.xml
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

change theme, add sub-level blank links
  .gitignore
  snake_path/conf.py
  snake_path/pages/interview-prep.md
  snake_path/pages/knowledge-base.md
  snake_path/pages/lake-of-links.md
Labels: site_source

add tools cheatsheet notes
  tools_cheatsheet.md
Labels: repo_root

add simple init script
  init.sh
Labels: repo_root

add backup README file in reStructuredText format
  _README.rst
Labels: repo_root

add cover image for index page
  .gitignore
  snake_path/images/Python_logo_01.png
  snake_path/pages/index.rst
  snake_path/pages/knowledge-base.md
Labels: site_source

Nikola auto commit.
  about/index.html
  archive.html
  assets/css/all-nocdn.css
  assets/css/all.css
  assets/css/bootblog.css
  categories/index.html
  galleries/index.html
  images/Python_logo_01.png
  images/Python_logo_01.thumbnail.png
  interview-prep/index.html
  knowledge-base/index.html
  lake-of-links/index.html
  links-lake/index.html
  listings/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

add favicons, few Interview questions blocks, knowledge scope page
  .gitignore
  snake_path/conf.py
  snake_path/files/py_file_icon_512x512.png
  snake_path/files/py_icon_512x512.png
  snake_path/images/Compiler_vs_Interpreter_comparison.png
  snake_path/pages/knowledge-base.md
  snake_path/pages/knowledge-scope.md
Labels: site_source

add new sections for knowledge scopes, more interview Qs, etc.
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/images/knowledge_scope/skills_have_shapes.jpeg
  snake_path/listings/args_passing.py
  snake_path/pages/index.rst
  snake_path/pages/knowledge-base.md
  snake_path/pages/knowledge-scope.md
Labels: site_source

add Best practices section, format new interview Qs
  snake_path/.doit.db.db
  snake_path/pages/knowledge-base.md
  snake_path/pages/knowledge-scope.md
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  about/index.html
  archive.html
  categories/index.html
  galleries/index.html
  images/Compiler_vs_Interpreter_comparison.png
  images/Compiler_vs_Interpreter_comparison.thumbnail.png
  images/knowledge_scope/skills_have_shapes.jpeg
  images/knowledge_scope/skills_have_shapes.thumbnail.jpeg
  index.html
  knowledge-base/index.html
  knowledge-scope/index.html
  lake-of-links/index.html
  listings/args_passing.py
  listings/args_passing.py.html
  listings/index.html
  py_file_icon_512x512.png
  py_icon_512x512.png
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

Nikola auto commit.
  snake_path/.doit.db.db
  snake_path/pages/knowledge-base.md
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  knowledge-base/index.html
  lake-of-links/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

add new links, format new interview Qs, exercises
  snake_path/.doit.db.db
  snake_path/pages/knowledge-base.md
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  knowledge-base/index.html
  lake-of-links/index.html
Labels: none

finish formatting of jr. questions/topics. add page for abbreviations
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/pages/cloud-of-abbreviations.md
  snake_path/pages/knowledge-base.md
Labels: site_source

add few middle-like questions
  snake_path/pages/knowledge-base.md
Labels: site_source

add sub-dir for images, more links
  snake_path/.doit.db.db
  snake_path/images/index/Python_logo_01.png
  snake_path/images/knowledge-base/Compiler_vs_Interpreter_comparison.png
  snake_path/pages/index.rst
  snake_path/pages/knowledge-base.md
  snake_path/pages/lake-of-links.md
Labels: site_source

add TagCloud lib for cloud of abbreviations page
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/files/assets/js/TagCloud.min.js
  snake_path/pages/cloud-of-abbreviations.html
  snake_path/pages/cloud-of-abbreviations.md
Labels: site_source

simplify cloud of terms/abbreviation
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/pages/cloud-of-abbreviations.html
  snake_path/pages/cloud-of-terms.html
Labels: site_source

Nikola auto commit.
  archive.html
  assets/js/TagCloud.min.js
  categories/index.html
  cloud-of-terms/index.html
  galleries/index.html
  images/index/Python_logo_01.png
  images/index/Python_logo_01.thumbnail.png
  images/knowledge-base/Compiler_vs_Interpreter_comparison.png
  images/knowledge-base/Compiler_vs_Interpreter_comparison.thumbnail.png
  index.html
  knowledge-base/index.html
  knowledge-scope/index.html
  lake-of-links/index.html
  listings/args_passing.py.html
  listings/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

add exercises dir, floating "TOP" button, etc.
  .editorconfig
  Makefile
  bash_refs
  init.sh
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/files/assets/css/custom.css
  snake_path/files/assets/js/custom.js
  snake_path/images/knowledge-base/django-request-response-cycle.jpg
  snake_path/listings/args_passing.py
  snake_path/listings/bad_vs_good_practices.py
  snake_path/listings/exercises/age_script.py
  snake_path/listings/exercises/continuous _countries.py
  snake_path/listings/exercises/countries_visited.py
  snake_path/listings/exercises/employee_due_be_paid.py
  snake_path/listings/exercises/employee_is_owed_overtime.py
  snake_path/listings/exercises/fizz_buzz.py
  snake_path/listings/exercises/movie_budgets.py
  snake_path/listings/exercises/simple_earnings_calculator.py
  snake_path/listings/exercises/treasure_hunters.py
  snake_path/listings/snake_walk_the_big_story.py
  snake_path/pages/index.rst
  snake_path/pages/knowledge-base.md
  snake_path/pages/lake-of-links.md
  snake_path/pages/show-me-the-code.rst
  snake_path/templates/base.tmpl
  tools_cheatsheet.md
Labels: site_source, repo_root

add bad vs good patterns/practices examples
  snake_path/.doit.db.db
  snake_path/listings/bad_vs_good_practices.py
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

compress bad_vs_good practices, add jupyter package
  requirements.txt
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/listings/bad_vs_good_practices.py
  snake_path/listings/snake_walks_the_big_story.py
  snake_path/pages/cloud-of-terms.html
  snake_path/pages/lake-of-links.md
Labels: site_source, repo_root

extend naming conventions points
  snake_path/.doit.db.db
  snake_path/listings/bad_vs_good_practices.py
  snake_path/pages/lake-of-links.md
  snake_path/pages/naming-convention.md
  snake_path/pages/show-me-the-code.rst
Labels: site_source

add TODO page placeholder
  snake_path/.doit.db.db
  snake_path/conf.py
  snake_path/pages/todo.rst
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

refactor styles/add mouseover event for cloud of terms
  snake_path/.doit.db.db
  snake_path/files/assets/css/custom.css
  snake_path/pages/cloud-of-terms.html
Labels: site_source

add Play and Learn links block
  snake_path/.doit.db.db
  snake_path/pages/lake-of-links.md
Labels: site_source

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  assets/css/all-nocdn.css
  assets/css/all.css
  assets/css/custom.css
  cloud-of-terms/index.html
  lake-of-links/index.html
Labels: none

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

add 'snake on a walk' page
  .editorconfig
  snake_path/.doit.db.db
  snake_path/files/assets/css/custom.css
  snake_path/files/assets/js/custom.js
  snake_path/images/show-me-the-code/python_small_logo.svg
  snake_path/images/show-me-the-code/snake_bw.png
  snake_path/listings/bad_practices.py
  snake_path/listings/good_practices.py
  snake_path/listings/snake_walks_the_big_story.py
  snake_path/pages/show-me-the-code.html
  snake_path/pages/show-me-the-code.rst
Labels: site_source, repo_root

Nikola auto commit.
  snake_path/.doit.db.db
Labels: site_source

Nikola auto commit.
  assets/css/all-nocdn.css
  assets/css/all.css
  assets/css/custom.css
  assets/js/custom.js
  images/show-me-the-code/python_small_logo.svg
  images/show-me-the-code/python_small_logo.thumbnail.svg
  images/show-me-the-code/snake_bw.png
  images/show-me-the-code/snake_bw.thumbnail.png
  listings/bad_practices.py
  listings/bad_practices.py.html
  listings/bad_vs_good_practices.py.html
  listings/good_practices.py
  listings/good_practices.py.html
  listings/index.html
  listings/snake_walks_the_big_story.py
  listings/snake_walks_the_big_story.py.html
  show-me-the-code/index.html
  sitemap.xml
  sitemapindex.xml
Labels: repo_root

change 'snake on a walk' page .html > .md
  snake_path/.doit.db.db
  snake_path/files/assets/js/custom.js
  snake_path/pages/show-me-the-code.md
Labels: site_source
